---
const { page } = Astro.props;
---

<section class="bg-violet-100 dark:bg-slate-800 scroll-mt-12 py-12">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-0">
			<div class="text-center pb-0 md:pb-0">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span
						class="text-4xl mb-0 md:text-6xl font-bold  tracking-tighter pb-4 font-heading bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-violet-500 dark:from-primary-300 dark:to-secondary-300 flex justify-center items-center"
						>{page.title}</span
					>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">{page.description}</p>
				</div>
			</div>
		</div>
	</div>
</section>