---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import Banner from '~/components/widgets/Banner.astro';
//import LatestPosts from '~/components/blog/LatestPosts.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
const page = {
	title: 'How I help customers',
	description:
		'Roles I\'ve taken on, reflections, and  case studies represented in my work across customers and explorations in this career.',
};
const items = []
---

<Layout {meta}>
	<Banner {page} />

	<section class="mt-4 py-20 ">
	<div class=" mx-auto px-4 sm:px-6 max-w-3xl">

		<div class="text-center">
			<h2 class="text-3xl font-extrabold text-gray-900 dark:text-gray-100 sm:text-4xl">
				What does WordPress, Astro, NextJS have in common?</h2>
			<p class="text-2xl py-4">These lead many others are technologies I believe in and am focusing my efforts delivering expertise to my customers. </p>
		</div>
	</div>
</section>

	<HighlightedPosts
    title="<span class='tracking-tight'>Case studies and reflections...</span>"
    information={`Projects describing specific deliverables, including design, development, and other topics.
		`}
    postIds={[
      'new-look-makerspace-website-bigfablab.mdx',
      'university-michigan-icpsr-component-library.md',
			'national-scenic-byways-foundation.md',
    ]}
  />

</Layout>
